SQL_DATABASE=inception_login
SQL_USER=login
SQL_PASSWORD=sql_password
SQL_ROOT_PASSWORD=sql_root_password
SITE_USER_PASS=login
SITE_USER_NAME=login
SITE_USER_EMAIL=mail@gmail.com
SITE_ADMIN_NAME=login_ad
SITE_ADMIN_EMAIL=email@gmail.com
SITE_ADMIN_PASS=login_ad_password
SITE_DOMAIN=login.42.fr
SITE_NAME=login website
LOCALE=fr_FR
